{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="canonical" href="{{ SITEURL }}/{{ AUTHOR_URL }}" />
<meta property="og:url" content="{{ SITEURL }}/{{ AUTHOR_URL }}"/>
<meta name="type" content="about">
{% endblock head %}
{% block title %}About me - {{ SITENAME }}{% endblock title %}
{% block ogtitle %}About me - {{ SITENAME }}{% endblock ogtitle %}
{% block ogtitle2 %}About me - {{ SITENAME }}{% endblock ogtitle2 %}

{% block description %}{{ AUTHORS.get(author|string).short_description }}{% endblock description %}
{% block description2 %}{{ AUTHORS.get(author|string).short_description }}{% endblock description2 %}
{% block description3 %}{{ AUTHORS.get(author|string).short_description }}{% endblock description3 %}

{% block content %}
<div class="nav-spacer articles_container">
    <div class="author-profile">
        <picture>
            <source type="image/webp" srcset="{{ SITEURL }}{{ AUTHORS.get(AUTHOR|string).image_webp }} 80w 80h">
            <img width="80px" height="80px" src="{{ SITEURL }}{{ AUTHORS.get(AUTHOR|string).image_jpg }}" alt="{{ AUTHOR }}" />
        </picture>
        <h1>{{ author }}</h1>
        <p class="author-description">
            {{ AUTHORS.get(author|string).description }}
        </p>
        {% for name, link in AUTHORS.get(author|string).links %}
        <a rel="noopener" href="{{ link }}" target="_blank">{{ name }}</a>
        {% endfor %}
        <div class="author-page-divider">
            <h2>About me</h2>
        </div>
        <p class="author-description long-description">
            {{ AUTHORS.get(author|string).long_description }}
        </p>
    </div>
</div>

<div class="author-page-divider articles_container">
    <h2>About my job</h2>
    <p class="author-description long-description">
        {{ AUTHORS.get(author|string).work_description }}
    </p>
</div>
{% if CERTIFICATION %}
<section class="nav-spacer">
    <span class="qualification gads">
        {% for cert, cert_info in CERTIFICATIONS|dictsort %}
        <a rel="noopener noreferrer" href="{{ CERTIFICATIONS.get(cert|string).url }}" target="_blank" title="{{ CERTIFICATIONS.get(cert|string).title }}">
            <img width="50px" height="50px" loading="lazy" src="{{ SITEURL }}/theme/img/{{ CERTIFICATIONS.get(cert|string).img }}" alt="{{ CERTIFICATIONS.get(cert|string).alt_tag }}">
        </a>
        {% endfor %}
    </span>
</section>
{% endif %}

<div class="author-page-divider">
    <h2>The projects I'm working on</h2>
</div>
<section class="nav-spacer">
    <article id="cc-slider" class="slider-container">
        <input checked="checked" name="cc-slider" id="slide1" type="radio">
        <input name="cc-slider" id="slide2" type="radio">
        <input name="cc-slider" id="slide3" type="radio">
        <div id="controls">
          <label for="slide1"></label>
          <label for="slide2"></label>
          <label for="slide3"></label>
        </div>
        <div id="cc-slides">
          <div id="overflow">
            <div class="inner">
                {% for project, project_info in PROJECTS|dictsort %}
                <article>
                    <picture>
                        <source type="image/webp" srcset="{{ SITEURL }}/theme/img/projects/{{ PROJECTS.get(project|string).image_webp }}">
                        <img loading="lazy" src="{{ SITEURL }}/theme/img/projects/{{ PROJECTS.get(project|string).image_jpg }}" alt="{{ PROJECTS.get(project|string).alt_tag }}" />
                    </picture>
                    <div class="cctooltip">
                      <h3>{{ project }}</h3>
                      <div class="slide-text">{{ PROJECTS.get(project|string).description }}</div>
                    </div>
                  </article>
                {% endfor %}
            </div>
          </div>
        </div>
      </article>
</section>

<div class="author-page-divider">
    <h2>Latest posts</h2>
</div>
<section class="nav-spacer">
    {% block content_title %}
    {% endblock %}
        <ol class="articles_container">
            {% for article in articles_page.object_list %}
                {% if loop.index <= 2 %}
                {% include 'article_listing.html' %}
                {% endif %}
            {% endfor %}
        </ol>
    </section>
{% endblock content %}
