{% extends "base.html" %}
{% if articles_page.has_other_pages() %}
{% block head %}
    {{ super() }}
    {% if articles_page.url == 'blog/index.html' %}
    <link rel="canonical" href="{{ SITEURL }}/blog/" />
    <meta property="og:url" content="{{ SITEURL }}/blog/"/>
    {% else %}
    <link rel="canonical" href="{{ SITEURL }}/{{ articles_page.url }}" />
    <meta property="og:url" content="{{ SITEURL }}/{{ articles_page.url }}"/>
    {% endif %}
    {% if articles_page.has_previous() %}
        {% if articles_previous_page.url == 'blog/index.html' %}
        <link rel="prev" href="{{ SITEURL }}/blog/">
        {% else %}
        <link rel="prev" href="{{ SITEURL }}/{{ articles_previous_page.url }}">
        {% endif %}
        {% if articles_page.has_next() %}
        <link rel="next" href="{{ SITEURL }}/{{ articles_next_page.url }}">
        {% endif %}
    {% endif %}
{% endblock head %}
{% endif %}

{% block title %}
{% if category %}
{{ category }} - {{ SITENAME }}
{% elif articles_page.url == 'blog/index.html' %}
Blog - {{ SITENAME }}
{% elif articles_page.url == 'blog/' %}
Blog - {{ SITENAME }}
{% elif "blog/" in articles_page.url %}
Blog - {{ SITENAME }}
{% elif articles_page.url == 'sitemap/' %}
Sitemap - {{ SITENAME }}
{% else %}
About me - {{ SITENAME }}
{% endif %}
{% endblock title %}

{% block description %}
{% if category %}
{{ CATEGORIES.get(category|string).description }}
{% elif articles_page.url == 'blog/index.html' %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif articles_page.url == 'blog/' %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif "blog/" in articles_page.url %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif articles_page.url == 'sitemap/' %}
The html sitemap.
{% else %}
About me - {{ SITENAME }}
{% endif %}
{% endblock description %}

{% block description2 %}
{% if category %}
{{ CATEGORIES.get(category|string).description }}
{% elif articles_page.url == 'blog/index.html' %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif articles_page.url == 'blog/' %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif "blog/" in articles_page.url %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif articles_page.url == 'sitemap/' %}
The html sitemap.
{% else %}
About me - {{ SITENAME }}
{% endif %}
{% endblock description2 %}

{% block description3 %}
{% if category %}
{{ CATEGORIES.get(category|string).description }}
{% elif articles_page.url == 'blog/index.html' %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif articles_page.url == 'blog/' %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif "blog/" in articles_page.url %}
{{ CATEGORIES.get('blog'|string).description }}
{% elif articles_page.url == 'sitemap/' %}
The html sitemap.
{% else %}
About me - {{ SITENAME }}
{% endif %}
{% endblock description3 %}

{% block content %}
        <section class="nav-spacer-listing">
            <section class="nav-post">
            {% block content_title %}
            <section class="blog-listing-title">
                <h1>Blog</h1>
                {% if CATEGORIES.get('blog'|string).logo_jpg %}
                <picture>
                    <source type="image/webp" srcset="{{ CATEGORIES.get('blog'|string).logo_webp }}">
                    <img src="{{ CATEGORIES.get('blog'|string).logo_jpg }}" alt="{{ AUTHOR }}'s blog" />
                </picture>
                {% endif %}
                <p>{{ CATEGORIES.get("blog").description }}</p>
            </section>
            {% endblock %}
                <ol class="articles_container">
                    {% for article in articles_page.object_list %}
                        {% include 'article_listing.html' %}
                    {% endfor %}
                </ol>
                {% if articles_page.has_other_pages() %}
                    {% include 'pagination.html' %}
                {% endif %}
            </section>
            <aside class="nav-sidebar">
                <div class="widget-container">
                    <div class="author-profile widget">
                        <picture>
                            <source type="image/webp" srcset="{{ SITEURL }}{{ AUTHORS.get(AUTHOR|string).image_webp }} 80w 80h">
                            <img width="80px" height="80px" src="{{ SITEURL }}{{ AUTHORS.get(AUTHOR|string).image_jpg }}" alt="{{ AUTHOR }}" />
                        </picture>
                        <p class="author-description">
                            {{ AUTHOR }}
                        </p>
                        <a href="{{ SITEURL }}/{{ AUTHOR_URL }}">about</a>
                        {% for name, link in AUTHORS.get(AUTHOR|string).links %}
                        <a rel="noopener" href="{{ link }}" target="_blank">{{ name }}</a>
                        {% endfor %}
                    </div>
                    <div class="category-widget widget">
                        <h2># categories</h2>
                        {% for category in CATEGORIES %}
                            {% if category != 'blog' %}
                                <a class="post-tag" href="{{ SITEURL }}/cat/{{ category }}/">{{ category }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </aside>
        </section>
{% endblock content %}
